### Table of Contents
    01. Import libraries
    02. Import data sets
    03. Data wrangling
        a. 2015 dataset
        b. 2016 dataset
        c. 2017 dataset
        d. 2018 dataset
        e. 2019 dataset
    04. Data merging
        a. Additional data wrangling
    05. Data consistency checks
        a. Check for missing data
        b. Check for duplicates
        c. Check for mixed-type data
    06. Data exporting

# 01. Import libraries

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Create a path for easier importing of files
path = r'C:\Users\blim9\Desktop\Career Foundry\Data Immersion\Achievement 6\World Happiness Report'

# 02. Import data sets

In [3]:
# Import five data sets for the years 2015 - 2019
df_2015 = pd.read_csv(os.path.join (path, '02. Data', 'Original Data', '2015.csv'), index_col = False)
df_2016 = pd.read_csv(os.path.join (path, '02. Data', 'Original Data', '2016.csv'), index_col = False)
df_2017 = pd.read_csv(os.path.join (path, '02. Data', 'Original Data', '2017.csv'), index_col = False)
df_2018 = pd.read_csv(os.path.join (path, '02. Data', 'Original Data', '2018.csv'), index_col = False)
df_2019 = pd.read_csv(os.path.join (path, '02. Data', 'Original Data', '2019.csv'), index_col = False)

### After familiarizing myself with all five datasets, I noticed that there are inconsistencies with the column names. 

### We will first begin by wrangling the data to create consistent names in which we can easily merge into one integrated dataset. I will be using the 2015 dataset as a benchmark for the structure and naming convention.

# 03. Data wrangling

## 2015 - World Happiness Report

In [4]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [5]:
# Drop the standard error column as it is irrelevant for our project
df_2015 = df_2015.drop(columns = ['Standard Error'])

In [6]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [7]:
# Rename the Family, Freedom, and Generosity columns for further clarification
df_2015 = df_2015.rename(columns = {'Family' : 'Family (Social Support)', 'Freedom' : 'Freedom (Life Choices)', 'Generosity' : 'Generosity (Donations to Charity)'})

In [8]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [9]:
# Create a new column called Year to specify the year
df_2015['Year'] = 2015

In [10]:
df_2015 = df_2015.reindex(columns = ['Country', 'Region', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)',
               'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)',\
               'Dystopia Residual'])

In [11]:
df_2015.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,Switzerland,Western Europe,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [12]:
# Check for any outliers or irregular values within the descriptive statistics
df_2015.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
count,158.0,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,2015.0,79.493671,5.375734,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,0.0,45.754363,1.145010,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,2015.0,1.000000,2.839000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,2015.0,40.250000,4.526000,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,2015.0,79.500000,5.232500,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,2015.0,118.750000,6.243750,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,2015.0,158.000000,7.587000,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

## 2016 - World Happiness Report

In [13]:
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [14]:
# Drop the Lower Confidence and Upper Confidence Interval columns as they are irrelevant for our project
df_2016 = df_2016.drop(columns = ['Lower Confidence Interval', 'Upper Confidence Interval'])

In [15]:
# Check that the columns were dropped
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [16]:
# Rename the Family, Freedom, and Generosity columns for further clarification
df_2016 = df_2016.rename(columns = {'Family' : 'Family (Social Support)', 'Freedom' : 'Freedom (Life Choices)', 'Generosity' : 'Generosity (Donations to Charity)'})

In [17]:
# Check that the columns were renamed
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [18]:
# Create a new column called Year to specify the year
df_2016['Year'] = 2016

In [19]:
df_2016 = df_2016.reindex(columns = ['Country', 'Region', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)',
               'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)',\
               'Dystopia Residual'])

In [20]:
df_2016.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,Denmark,Western Europe,2016,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2016,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,2016,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,2016,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,2016,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [21]:
# Check for any outliers or irregular values within the descriptive statistics
df_2016.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
count,157.0,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,2016.0,78.980892,5.382185,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,0.0,45.466030,1.141674,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,2016.0,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,2016.0,40.000000,4.404000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,2016.0,79.000000,5.314000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,2016.0,118.000000,6.269000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,2016.0,157.000000,7.526000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

## 2017 - World Happiness Report

In [22]:
df_2017.head()

,Country,Region,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,Western Europe,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,Western Europe,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,Western Europe,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,Western Europe,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,Western Europe,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [23]:
# Drop the Whisker high and Whisker low columns as they are irrelevant for our project
df_2017 = df_2017.drop(columns = ['Whisker.high', 'Whisker.low'])

In [24]:
# Check that the columns were dropped
df_2017.head()

,Country,Region,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [25]:
# Rename various columns to conform to the previous data set's naming conventions
df_2017 = df_2017.rename(columns = {'Happiness.Rank': 'Happiness Rank', 'Happiness.Score': 'Happiness Score', 'Economy..GDP.per.Capita.':
                                   'Economy (GDP per Capita)', 'Family': 'Family (Social Support)', 'Health..Life.Expectancy.':
                                   'Health (Life Expectancy)', 'Freedom': 'Freedom (Life Choices)', 'Generosity': 'Generosity (Donations to Charity)', 
                                   'Trust..Government.Corruption.': 'Trust (Government Corruption)', 'Dystopia.Residual': 
                                   'Dystopia Residual'})

In [26]:
# Check that the columns were renamed
df_2017.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Generosity (Donations to Charity),Trust (Government Corruption),Dystopia Residual
0,Norway,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [27]:
# Create a new column called Year to specify the year
df_2017['Year'] = 2017

In [28]:
# Reorder the order of the columns so it's consistent with the previous datasets
df_2017 = df_2017.reindex(columns = ['Country', 'Region', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)',
                                    'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)',
                                    'Dystopia Residual'])

In [29]:
# Check that the columns were reordered
df_2017.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,Norway,Western Europe,2017,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027
1,Denmark,Western Europe,2017,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707
2,Iceland,Western Europe,2017,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715
3,Switzerland,Western Europe,2017,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716
4,Finland,Western Europe,2017,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182

In [30]:
# Check for any outliers or irregular values within the descriptive statistics
df_2017.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
count,155.0,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,2017.0,78.000000,5.354019,0.984718,1.188898,0.551341,0.408786,0.123120,0.246883,1.850238
std,0.0,44.888751,1.131230,0.420793,0.287263,0.237073,0.149997,0.101661,0.134780,0.500028
min,2017.0,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,2017.0,39.500000,4.505500,0.663371,1.042635,0.369866,0.303677,0.057271,0.154106,1.591291
50%,2017.0,78.000000,5.279000,1.064578,1.253918,0.606042,0.437454,0.089848,0.231538,1.832910
75%,2017.0,116.500000,6.101500,1.318027,1.414316,0.723008,0.516561,0.153296,0.323762,2.144654
max,2017.0,155.000000,7.537000,1.870766,1.610574,0.949492,0.658249,0.464308,0.838075,3.117485

## 2018 - World Happiness Report

In [31]:
df_2018.head()

,Overall rank,Country or region,Region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [32]:
# Rename various columns to conform to the previous data set's naming conventions
df_2018 = df_2018.rename(columns = {'Overall rank': 'Happiness Rank', 'Country or region': 'Country', 'Score': 'Happiness Score',
                                   'GDP per capita': 'Economy (GDP per Capita)', 'Social support': 'Family (Social Support)',
                                   'Healthy life expectancy': 'Health (Life Expectancy)', 'Freedom to make life choices': 
                                   'Freedom (Life Choices)', 'Generosity': 'Generosity (Donations to Charity)', 'Perceptions of corruption'
                                   : 'Trust (Government Corruption)'})

In [33]:
# Check that the columns were renamed
df_2018.head()

,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Generosity (Donations to Charity),Trust (Government Corruption)
0,1,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [34]:
# Create a new column called Year to specify the year
df_2018['Year'] = 2018

In [35]:
df_2018.head()

,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Generosity (Donations to Charity),Trust (Government Corruption),Year
0,1,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [36]:
# Create a column called Dystopia Residual which is the Happiness Score subtracting the six columns after it
df_2018['Dystopia Residual'] = df_2018['Happiness Score'] - df_2018.iloc[:, 5:10].sum(axis=1)

In [37]:
# Reorder the order of the columns so it's consistent with the previous datasets
df_2018 = df_2018.reindex(columns = ['Country', 'Region', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)',
                                    'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)',
                                    'Dystopia Residual'])

In [38]:
# Check that the columns were reordered
df_2018.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,Finland,Western Europe,2018,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,3.890
1,Norway,Western Europe,2018,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,3.839
2,Denmark,Western Europe,2018,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,3.722
3,Iceland,Western Europe,2018,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,3.769
4,Switzerland,Western Europe,2018,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,3.738

In [39]:
# Check for any outliers or irregular values within the descriptive statistics
df_2018.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
count,156.0,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,156.000000,156.000000
mean,2018.0,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.112000,0.181006,2.818538
std,0.0,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.096492,0.098471,0.658747
min,2018.0,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.832000
25%,2018.0,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.051000,0.109500,2.354500
50%,2018.0,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.082000,0.174000,2.881500
75%,2018.0,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.137000,0.239000,3.288000
max,2018.0,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.457000,0.598000,4.858000

## 2019 - World Happiness Report

In [40]:
df_2019.head()

,Overall rank,Country or region,Region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [41]:
# Rename various columns to conform to the previous data set's naming conventions
df_2019 = df_2019.rename(columns = {'Overall rank': 'Happiness Rank', 'Country or region': 'Country', 'Score': 'Happiness Score',
                                   'GDP per capita': 'Economy (GDP per Capita)', 'Social support': 'Family (Social Support)',
                                   'Healthy life expectancy': 'Health (Life Expectancy)', 'Freedom to make life choices': 
                                   'Freedom (Life Choices)', 'Generosity': 'Generosity (Donations to Charity)', 'Perceptions of corruption'
                                   : 'Trust (Government Corruption)'})

In [42]:
# Check that the columns were renamed
df_2019.head()

,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Generosity (Donations to Charity),Trust (Government Corruption)
0,1,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [43]:
df_2019['Year'] = 2019

In [44]:
# Create a column called Dystopia Residual which is the Happiness Score subtracting the six columns after it
df_2019['Dystopia Residual'] = df_2019['Happiness Score'] - df_2019.iloc[:, 5:10].sum(axis=1)

In [45]:
# Reorder the order of the columns so it's consistent with the previous datasets
df_2019 = df_2019.reindex(columns = ['Country', 'Region', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)',
                                    'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)',
                                    'Dystopia Residual'])

In [46]:
# Check that the columns were reordered
df_2019.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,Finland,Western Europe,2019,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,4.054
1,Denmark,Western Europe,2019,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,3.777
2,Norway,Western Europe,2019,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,3.729
3,Iceland,Western Europe,2019,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,3.781
4,Netherlands,Western Europe,2019,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,3.790

In [47]:
# Check for any outliers or irregular values within the descriptive statistics
df_2019.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
count,156.0,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,2019.0,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.110603,0.184846,2.785019
std,0.0,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.094538,0.095254,0.651300
min,2019.0,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.826000
25%,2019.0,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.047000,0.108750,2.326500
50%,2019.0,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.085500,0.177500,2.837500
75%,2019.0,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.141250,0.248250,3.272500
max,2019.0,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.453000,0.566000,4.054000

# 04. Merge the wrangled datasets together

In [48]:
# Concat the five datasets together since they have the same number of columns
df_years = (df_2015, df_2016, df_2017, df_2018, df_2019)

In [49]:
df_merged = pd.concat(df_years)

In [50]:
df_merged.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,Switzerland,Western Europe,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [51]:
df_merged.shape

(782, 12)

#### Although data wrangling was performed earlier, I am performing an additional step which is easier once the datasets are merged.

### 4.1 Additional data wrangling

In [52]:
# Create a column called 'Continent' based on the 'Region column
df_merged['Region'].value_counts()

Sub-Saharan Africa                 196
Central and Eastern Europe         144
Latin America and Caribbean        111
Western Europe                     104
Middle East and Northern Africa     98
Southeastern Asia                   44
Southern Asia                       35
Eastern Asia                        30
North America                       10
Australia and New Zealand           10
Name: Region, dtype: int64

In [53]:
# Create lists for each continent based on the regions
North_America = ['North America']
South_America = ['Latin America and Caribbean']
Europe = ['Central and Eastern Europe', 'Western Europe']
Asia = ['Southeastern Asia', 'Southern Asia', 'Eastern Asia']
Africa = ['Sub-Saharan Africa', 'Middle East and Northern Africa']
Australia = ['Australia and New Zealand']

In [54]:
df_merged.loc[df_merged['Region'].isin(North_America), 'Continent'] = 'North America'
df_merged.loc[df_merged['Region'].isin(South_America), 'Continent'] = 'South America'
df_merged.loc[df_merged['Region'].isin(Europe), 'Continent'] = 'Europe'
df_merged.loc[df_merged['Region'].isin(Asia), 'Continent'] = 'Asia'
df_merged.loc[df_merged['Region'].isin(Africa), 'Continent'] = 'Africa'
df_merged.loc[df_merged['Region'].isin(Australia), 'Continent'] = 'Australia'

In [55]:
df_merged.head()

,Country,Region,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual,Continent
0,Switzerland,Western Europe,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Europe
1,Iceland,Western Europe,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Europe
2,Denmark,Western Europe,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Europe
3,Norway,Western Europe,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Europe
4,Canada,North America,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,North America

In [56]:
# Reorder the columns for consistency
df_merged = df_merged.reindex(columns = ['Country', 'Region', 'Continent', 'Year', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)',
                                    'Health (Life Expectancy)', 'Freedom (Life Choices)', 'Trust (Government Corruption)', 'Generosity (Donations to Charity)',
                                    'Dystopia Residual'])

In [57]:
df_merged.head()

,Country,Region,Continent,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
0,Switzerland,Western Europe,Europe,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,Europe,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,Europe,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,Europe,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,North America,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

# 05. Data consistency checks

### 5.1 Missing Values

In [58]:
# Check for missing values
df_merged.isnull().sum()

Country                              0
Region                               0
Continent                            0
Year                                 0
Happiness Rank                       0
Happiness Score                      0
Economy (GDP per Capita)             0
Family (Social Support)              0
Health (Life Expectancy)             0
Freedom (Life Choices)               0
Trust (Government Corruption)        1
Generosity (Donations to Charity)    0
Dystopia Residual                    0
dtype: int64

In [59]:
# Create a dataframe to hold the missing values
df_missing = df_merged[df_merged['Trust (Government Corruption)'].isnull()==True]

In [60]:
df_missing

,Country,Region,Continent,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom (Life Choices),Trust (Government Corruption),Generosity (Donations to Charity),Dystopia Residual
19,United Arab Emirates,Middle East and Northern Africa,Africa,2018,20,6.774,2.096,0.776,0.67,0.284,NaN,0.186,4.858

In [61]:
# Check the number of rows and columns before dropping the missing value
df_merged.shape

(782, 13)

In [62]:
# Drop all missing values
df_merged.dropna(inplace = True)

In [63]:
# Check that there's one less row
df_merged.shape

(781, 13)

### 5.2 Duplicates

In [64]:
# Check for duplicates
df_dup = df_merged[df_merged.duplicated()]

In [65]:
df_dup

Empty DataFrame
Columns: [Country, Region, Continent, Year, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family (Social Support), Health (Life Expectancy), Freedom (Life Choices), Trust (Government Corruption), Generosity (Donations to Charity), Dystopia Residual]
Index: []

### 5.3 Mixed-type data

In [66]:
# Check for mixed-type data
for col in df_merged.columns.tolist():
  weird = (df_merged[[col]].applymap(type) != df_merged[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_merged[weird]) > 0:
    print (col)

# 06. Export dataset

In [68]:
df_merged.to_csv(os.path.join (path, '02. Data', 'Prepared Data', 'cleaned_data.csv'))